.container {
  max-width: 400px;
  height: 100%;
  margin: 100px auto;
  padding: 2rem;
  background: #ccc;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  text-align: center;
}
.container h2{
    color:black;

}
.container p{
    color: black;
}
.form input {
  width: 100%;
  padding: 10px;
  margin: 0.75rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form button {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.form button:hover {
  background-color:burlywood;
}

a {
  color: #e68900;
  text-decoration: none;
}
